<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="HotelDBLiam" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=HotelDonderdag;Integrated Security=True;TrustServerCertificate=true"/>
    <add name="HotelDBAmir" connectionString="Data Source=localhost;Initial Catalog=HotelDonderdag;Integrated Security=True;TrustServerCertificate=true"/>
	</connectionStrings>
</configuration>